[submodule "cmake"]
	path = cmake
	url = https://github.com/n7space/cmake-tools
[submodule "src/ThirdParty/cpputest"]
	path = src/ThirdParty/cpputest
	url = https://github.com/cpputest/cpputest
	ignore = dirty
